.progressbar.component{
  background:#fff;
  border:1px solid #DEDEDE;
  padding:20px;
  margin: 50px auto;
  max-width:400px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  .progressbar-wrapper{
    .progressbar-item{
      text-align:center;
      padding:5px;
      border:1px solid #ccc;
      margin-bottom:15px;
      position:relative;
      span{
        position:relative;
        z-index:2;
      }
      .progressbar-color{
        position:absolute;
        top:0;
        left:0;
        width:0%;
        height:100%;
        transition: width 0.2s ease-out;
        background: rgb(83,132,255);
        background: linear-gradient(180deg, rgba(83,132,255,1) 0%, rgba(0,86,186,1) 35%, rgba(83,132,255,1) 100%);
      }
      &.warn{
        .progressbar-color{
          background: rgb(255,83,83);
          background: linear-gradient(180deg, rgba(255,83,83,1) 0%, rgba(186,0,24,1) 35%, rgba(255,83,83,1) 100%);
        }
      }
    }
  }
  .progressbar-panel{
    select{
      border-color: #ccc;
      border-radius: 5px;
      padding: 5px;
      margin-right:5px;
      outline:none;
      height:25px;
    }
    button{
      border-color: #ccc;
      border-radius: 5px;
      padding: 5px;
      min-width:30px;
      margin-right:5px;
      outline:none;
    }
  }
  .loading-wrapper{
    text-align:center;
    .loadingAnimation{
      margin:0 auto;
      display: block;
    }
  }

}
