<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>singtel progressbar</title>

  <!-- build:css css/main.css -->
  <link rel="stylesheet" href="sass/main.css">
  <!-- endbuild -->

</head>
<body>
  <div class="container">
    <div class="progressbar component">
      <div class="progressbar-wrapper" v-if="isLoaded" v-cloak>
        <div class="progressbar-item" v-bind:class="{ warn : item.value > item.limit }" v-for="(item,id) in progressbar">
          <span>{{ item.percentLabel }}%</span>
          <div class="progressbar-color" v-bind:style="{ width: item.percent + '%' }"></div>
        </div>
      </div>
      <div class="progressbar-panel" v-if="isLoaded" v-cloak>
        <select v-model="selectedProgressBar">
          <option v-for="(item,id) in progressbar" :value="id">#Progress{{id}}</option>
        </select>
        <button v-for="button in buttons" v-on:click="updateProgressBar(button)">{{ button }}</button>
      </div>
      <div v-if="!isLoaded" class="loading-wrapper">
        <div class="loadingAnimation" >
          <div></div>
          <div></div>
        </div>
        Loading...
      </div>
    </div>

  </div>

  <!-- build:js js/main.js -->
  <script src="js/main.js"></script>
  <!-- endbuild -->
</body>
</html>
